# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build directories
bin/
dist/

# Ignore generated templ files (from github.com/a-h/templ)
**/*_templ.go

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove comment if you want to exclude them)
# vendor/

# Go workspace files
go.work
go.work.sum

# Environment variables
.env

# Editor/IDE
.idea/
.vscode/

# Python PoC stuff
__pycache__/
.pycache/
venv/

# Custom
python/*.json

# Temporary files
t*mp/
